---
layout: splash
author_profile: false
classes:
  - landing
excerpt: "Data parallel C++ mathematical object library."
permalink: /
header:
  overlay_color: "#5DADE2"
  overlay_image: header_bg.jpg
intro:
  - excerpt: 'Get notified when we add new stuff &nbsp; [<i class="fa fa-github"></i> watch project](https://github.com/paboyle/Grid/subscription){: .btn .btn--info}'
downloads:
  - excerpt: 'Downloads [<i class="mega-octicon octicon-desktop-download"></i> Develop branch ZIP](https://github.com/paboyle/Grid/archive/develop.zip){: .btn .btn--large .btn--inverse}'
---



{% include feature_row id="downloads" type="center" %}
{% include feature_row id="intro" type="center" %}

